// $Id$

chat		BITMAP "bitmaps/chat.bmp"
floor		BITMAP "bitmaps/floor.bmp"
globe		BITMAP "bitmaps/globe.bmp"
goto		BITMAP "bitmaps/goto.bmp"
mail		BITMAP "bitmaps/mail.bmp"
mailroom	BITMAP "bitmaps/mailroom.bmp"
newroom 	BITMAP "bitmaps/newroom.bmp"
oldroom		BITMAP "bitmaps/oldroom.bmp"
root		BITMAP "bitmaps/root.bmp"
who		BITMAP "bitmaps/who.bmp"
xglobe		BITMAP "bitmaps/xglobe.bmp"

#include "wx/msw/wx.rc"

