
* html {
	overflow: hidden;
}

body {
	margin:0;
	padding: 0 0 0 0;
	height: 100%;
	overflow: auto;
	background-color: #D8D8D8;
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: sans-serif;
	text-align: center;
}

#iconbar {
	/* position:fixed; */
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width: 15%;
	/* height:100%; */
	background: #ffffee;
        text-align: left;
}

* html #iconbar {
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width: 15%;
	/* height:100%; */
	background: #ffffee;
}

.logo, .logo_citadel {
        display: block;
        text-align: center;
        border-bottom: 1px solid #aaaaaa;
        margin: 0;
        padding: 0;
}

.logo_citadel a, .logo_citadel img {
        border: none;
}

#banner {
	position:fixed;
	display:block;
	top:0px;
	left: 15%;
	width: 85%;
	height: 15%;
	background: #445;
        text-align: left;
}

* html #banner {
	position:absolute;
	display:block;
	top:0px;
	left: 15%;
	width: 85%;
	height: 15%;
	background: #445;
}

#banner .room_banner, #banner .service {
        float: left;
        width: 48%;
}

.room_banner img,  .service img {
        float: left;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 5px;
        margin-right: 5px;
}

.room_banner h1 {
        font-size: 14pt;
        font-weight: bold;
        color: #FFFFEE;
        margin: 0;
        padding: 2px;
}

.service h1 {
        font-size: 12pt;
        font-weight: bold;
        color: #FFFFEE;
        margin: 0;
        padding: 2px;
}

.service h2 {
        font-size: 11pt;
        font-weight: bold;
        color: #FFFFEE;
}

.room_banner .infos {
        font-size: 8pt;
	color: #FFFFEE;
        text-align: center;
        padding: 2px;
	cursor: help;
}

#room_infos {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 45%;
        padding: 11px;
        margin: 0px;
        z-index: 100;
        color: #666;
        background: white;
	cursor: pointer;
        font-size: 10pt;
	color: black;
        text-align: left;
        padding: 2px;
	margin-top: 5px;
}

img.close_infos {
	float: right;
}

#banner ul {
        float: right;
        text-align: right;
        width: 48%;
        margin: 0;
        padding: 0;
}

#banner ul li {
        text-align: right;
        clear: right;
        list-style: none;
        margin: 0;
        padding: 2px;
        white-space: nowrap;
}

li.search {
        font-size: 10pt;
        float: left;
        color: #FFFFFF;
}

li.view {
        font-size: 10pt;
        float: right;
        color: #FFFFFF;
}

li.search form, li.view form {
	margin: 0;
	padding: 0;
}

li.nummsgs {
        font-size: 10pt;
        color: #DDDDCC;
}

li.start_page {
        font-size: 8pt;
        color: #DDDDCC;
}


#navbar {
	position: absolute; 
	bottom: 0px; 
	left: 0px;
}

#navbar ul {
	float: left;
	width: 95%;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-align: left;
}

#navbar ul li {
	display: inline;
	list-style: none;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom:0 ;
	margin-left: 20px;
        white-space: nowrap;
}

#navbar ul li img {
	margin-top: 0;
	margin-right: 2px;
	margin-bottom:0 ;
	margin-left: 2px;
}

.navbar_link {
	font-size: 7pt;
	color: #FFFFEE;
}


#important_message {
	position:absolute;
	top:0px; right:0px;
	background-color: #880000;
	z-index: 2;
}

#content {
	position:fixed;
	display:block;
	top: 16%;
	left: 15%;
	width: 85%;
	height: 84%;
	overflow: auto;
	/* overflow-x: hidden; */
        text-align: left;
}

* html #content {
	position:absolute;
	display:block;
	top: 16%;
	left: 15%;
	width: 85%;
	height: 84%;
	overflow: auto;
	/* overflow-x: hidden; */
}

#message_list_hdr {
	position:fixed;
	display:block;
	top: 16%;
	left: 15%;
	width: 85%;
	height: 5%;
	overflow: hidden;
	font-style: italic;
	text-align: left;
}

* html #message_list_hdr {
	position:absolute;
	display:block;
	top: 16%;
	left: 15%;
	width: 85%;
	height: 5%;
	overflow: hidden;
	font-style: italic;
	text-align: left;
}

#message_list {
	position:fixed;
	display:block;
	top: 21%;
	left: 15%;
	width: 85%;
	height: 20%;
	overflow: auto;
	cursor: pointer;
        text-align: left;
}

* html #message_list {
	position:absolute;
	display:block;
	top: 21%;
	left: 15%;
	width: 85%;
	height: 20%;
	overflow: auto;
	cursor: pointer;
}

#resize_msglist {
	position:fixed;
	display:block;
	top: 41%;
	left: 15%;
	width: 85%;
	height: 1%;
	overflow: hidden;
	cursor: s-resize;
	background-color: #cccccc;
}

* html #resize_msglist {
	position:absolute;
	display:block;
	top: 41%;
	left: 15%;
	width: 85%;
	height: 1%;
	overflow: hidden;
	cursor: s-resize;
}

#resize_msglist hr {
	color: darkgrey;
	background-color: darkgrey;
	height: 3px;
	border: 0;
}

#preview_pane {
	position:fixed;
	display:block;
	top: 42%;
	left: 15%;
	width: 85%;
	height: 58%;
	overflow: auto;
        text-align: left;
}

* html #preview_pane {
	position:absolute;
	display:block;
	top: 42%;
	left: 15%;
	width: 85%;
	height: 58%;
	overflow: auto;
}


.fix_scrollbar_bug {
	margin-right:1px;		/* Gecko and other non-broken browsers */
	width: expression('97%');	/* Only IE6 understands 'expression' - fixes weird scrollbarbug */
}

#button {
	width: 100%;
	background-color: #ffffee;
	color: #aaaaaa;
	font-size: 8pt;
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#button li, #button li.switch {
	border-bottom: 1px solid #aaaaaa;
	margin: 0;
}

#button li.switch {
	text-align: center;
}

#button img {
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 5px;
}

#button li a {
	display: block;
	background-color: #ffffee;
	color: #000000;
	text-decoration: none;
	width: 100%;
}

html>body #button li a {
	width: auto;
}

#button li a:hover {
	background-image:url(/static/body-background.gif);
	color: #000000;
}

a:link {
	color: #0000FF;
	text-decoration: none;
}

a:visited {
	color: #0000FF;
	text-decoration: none;
}

a:active {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.menubar_link {
	font-size: 9pt;
}

.titlebar {
	font-size: 12pt;
	color: #FFFFEE;
}


.message {
	margin: 5px;
	padding: 0;
	border: 1px solid #999999;
	background-color: #CCCCCC;
        text-align: left;
	clear: both;
}

.message_header, .message_header p {
	font-size: 10pt;
	color: black;
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
        text-align: left;
}

.message_header .message_subject {
	font-style: italic;
}
.mimepart {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15%;
	width: 70%;
	padding: 0;
	background-color: #FFFFDD;
	border: 2px solid lightgrey;
}

.mimepart img {
        vertical-align: middle;
}

.mimepart div {
	margin:0 ;
	padding: 5px;
        background-color: #FFFFFF;
	font-size: 11pt;
        font-weight: bold;
}

.mimepart div span {
	font-style: italic;
}

.mimepart dl {
	width: 100%;
	padding: 5px;
}

.mimepart dl dt {
	width: 30%;
	float: left;
	margin: 0 0 0 0;
	padding: .5em;
	border-top: 1px solid #999;
	font-weight: bold;
}

/* hack ie5 mac \*/
dt { clear: both; }
/* end hack */

.mimepart dl dd {
	float: left;
	width: 62%;
	margin: 0 0 0 0;
	padding: .5em;
	border-top: 1px solid #999;
}

.mimepart p {
	margin-top: 1em;
	margin-bottom: 0;
	clear: both;
}

.msgbuttons {
        float: right;
        visibility: hidden;
	margin-top: 0;
	margin-right: 0;
	padding: 0;
}

#delbutton, .buttons a, .msgbuttons a {
        font-size: 8pt;
        margin-left: 5px;
	margin-right: 5px;
        padding: 2px;
        border-top: 1px solid #CFCFCF;
        border-left: 1px solid #CFCFCF;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #000000;
        background-color: #BBBBBB;
        color: #000000;
        font-weight: bold;
        text-align: center;
}

.msgbuttons a span, .buttons span {
        display: none;
}

.buttons a:hover, .msgbuttons a:hover {
        background-color: #AAAAAA;
        text-decoration: none;
}

.message_content {
	background-color: white;
	margin: 0;
	padding: 3px;
        clear: both;
}

.message form div label {
        display: block;
        float: left;
        margin: 3px;
        width: 9em;
        text-align: right;
}

.message form div input, .message form div select {
        margin: 3px;
}

.imgedit {
        vertical-align: middle;
}

.send_edit_msg {
        float: right;
        margin-top: 0;
        margin-right: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 50px;
        padding-left: 50px;
}

.tablabel {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}

.boxlabel {
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFEE;
}

.boxlabel a {
	color: #FFFFEE;
}

ul.adminitems {
        list-style-type: none;
}

ul.adminitems li {
        list-style: none;
	font-size: 13px;
}

ul.adminitems a {
	font-size: 13px;
	margin: 5px;
	color: #880000;
	font-weight: bold;
}

ul.adminitems span {
	display: block;
	font-size: 8pt;
	color: #000088;
}


.customize {
	font-size: 8pt;
	font-style: italic;
	color: #000044;
	background-color: #DDDDCC;
}

.room_banner_room_name {
}

.room_banner_room_info {
}

.room_banner_new_messages {
}

.room_banner_start_page {
}

.view_name, .search_name, .selectbox, .inputbox {
	font-size: 7pt;
	background: #444455; 
	color: #ddddcc;
}

.menubar_bg {
	background-color: #FF0000;
}


.roomlist_floor {
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
}

.roomlist_new {
	font-size: 10pt;
	color: #880000;
	font-weight: bold;
}

.roomlist_old {
	font-size: 10pt;
	color: #000088;
}

.ib_roomlist_floor {
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}

.ib_roomlist_new {
	font-size: 10px;
	color: #880000;
	font-weight: bold;
	cursor: pointer;
}

.ib_roomlist_old {
	font-size: 10px;
	color: #000088;
	cursor: pointer;
}

.mailbox_summary {
	font-size: 10pt;
	color: #000000;
	background-color: #FFFFFF;
}

.mailbox_summary tr {
	width: 100%;
}

.mailbox_summary td {
	border-top: 1px solid darkgrey;
}

blockquote {
	color: navy !important; background-color: RGB(245,245,245) !important; 
}
blockquote blockquote {
	color: maroon !important; background-color: RGB(235,235,235) !important;
}
blockquote blockquote blockquote {
	color: green !important; background-color: RGB(225,225,225) !important;
}
blockquote blockquote blockquote blockquote {
	color: purple !important; background-color: RGB(215,215,215) !important;
}
blockquote blockquote blockquote blockquote blockquote {
	color: teal !important; background-color: RGB(205,205,205) !important;
}

blockquote pre {
	margin-left: 1%;
	margin-right: 1%;
}


var sub {
	font-style: normal;
}

.note {
	font-size: 85%;
	margin-left: 10%;
}

.toolbar {
	text-align: center;
}

.toolbar IMG {
	float: right;
}

.errormsg {
	color: #AA0000;
	background: none;
	font-weight: bold;
	font-style: italic;
}

.imsg {
	color: #aaaaaa;
	background: none;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.warning {
	color: #FF4500;
	background: none;
	text-decoration: none;
}

.error strong {
	color: #DC143C;
	background: #FFD700;
	text-decoration: none;
}

.warning strong {
	color: #FF4500;
	background: #FFD700;
	text-decoration: none;
}

.warning a:link, .warning a:visited, .warning a:active {
	color: #FF4500;
	background: none;
	text-decoration: underline;
}

.error a:link, .error a:visited, .error a:active {
	color: #DC143C;
	background: none;
	text-decoration: underline;
}

.error strong a:link, .error strong a:visited, .error strong a:active {
	color: #DC143C;
	background: #FFD700;
}

.warning strong a:link, .warning strong a:visited, .warning strong a:active {
	color: #FF4500;
	background: #FFD700;
}

colgroup.entity {
	text-align: center;
}

.default {
	text-decoration: underline;
	font-style: normal;
}

.required {
	font-weight: bold;
}

td li.transitional, .elements li.transitional {
	font-weight: lighter;
	color: #696969;
	background: none;
}

td li.frameset, .elements li.frameset {
	font-weight: lighter;
	color: #808080;
	background: none;
}

@media print {
	input#toggler, .toolbar { display: none }
}


.treetitle {
	padding:2px;
	cursor:default;
	
	font-size: 11px;
	color: #000000;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;;
	color: #000000;
	
	font-size: 11px;
}
.editednodeinput {
	background-color: #FFFFFF;;
	color: #000000;
	
	width: 150px;
	height: 17px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	font-size: 11px;
}
.treetitleselectedfocused {
	padding:2px;
	cursor:default;
	background-color: highlight;
	color: highlighttext;
	
	font-size: 11px;
}
.treetitleselectedblured {
	padding:2px;
	cursor:default;
	background-color: menu;
	color: windowtext;
	font-size: 11px;
}



div.auto_complete {
	width: 350px;
	background: #fff;
}

div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type: none;
	background: #fff;
}

div.auto_complete ul li {
	margin:0;
	padding:3px;
}

div.auto_complete ul li.selected {
	background-color: #ffc;
} 

div.auto_complete ul strong.highlight {
	color: #800;
	margin:0;
	padding:0;
}


.floors_config, .roomops_zap {
        border: 0;
        background-color: #770000;
        width: 100%;
}

.roomops_cell_label {
        background-color: #FFFFFF;
}

.roomops_cell, .roomops_cell_edit {
        background-color: #CCCCCC;
}

.auth_validate, .event_background, .calendar_background, .calendar_view_background, .graphics_background, .messages_background, .paging_background, .preferences_background, .roomops_background, .sieve_background { 
        border: 0;
        width: 100%;
        background-color: #ffffff;
}

.siteconfig_background { 
        border: 0;
        width: 100%;
}

.smtpqueue_background, .tabs_background, .useredit_background, .userlist_background, .downloads_background, .vcard_edit_background    {
        border: 0;
        width: 100%;
        background-color: #ffffff;
}

.auth_banner, .event_banner, .floors_banner, .calendar_banner, .graphics_banner, .inetconf_banner, .listsub_banner {
        border: 0;
        width: 100%;
        background-color: #444455;
}

.netconf_banner, .paging_banner, .preferences_banner, .roomops_banner, .setup_banner, .sieve_banner, .siteconfig_banner {
        border: 0;
        width: 100%;
        background-color: #444455;
}

.smtpqueue_banner, .useredit_banner, .userlist_banner, .downloads_banner, .vcard_edit_banner, .who_banner, .room_banner   {
        border: 0;
        width: 100%;
        background-color: #444455;
}


.vcard_edit_background_alt, .roomops_background_alt {
        border: 0;
        width: 100%;
        background-color: #dddddd;
}


.box {
        width: 100%;
        padding: 0px;
        background-color: #FFFFFF;
}

.boxlabel, .boxcontent {
        padding: 5px;
}

.boxlabel {
        background-color: #000088;
        text-align: center;
}

#login_screen {
	margin: 3%;
}

.login_content {
        background-color: white;
}

.login_message, .login_hello {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
}

.login_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.login_message {
	color: red;
	font-weight: bold;
	font-size: 16px;
}

#login_form {
        position: relative;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 6px;
        width: 300px;
        background-color: #DDDDDD;
}

#login_form input, #login_form label, #login_form select {
        display: block;
        float: left;
        margin: 6px;
}

#login_form label {
        width: 130px;
        text-align: left;
}

#pname, #uname {
        width: 130px;
        text-align: left;
}

#login_form br {
        clear: left;
}

#login_form .logbuttons {
        margin-left: auto;
        margin-right: auto;
}

#login_form .logbutton {
	width: auto;
        text-align: center;
}

.login_infos {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 80% ;
        text-align: left;
}

#address_book_popup {
        position: absolute;
        top: 100px;
        right: 25px;
        width: 320px;
	height: auto;
        z-index: 100;
	background-color: #fff;
	color: #000;
	display: none;
	border: 1px solid black;
}

#address_book_popup_container_div {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fbf4ca;
}

#address_book_popup_middle_div {
	position: relative;
	background-color: #fbf4ca;
}

#address_book_inner_div {
	margin: 5px;
}

#address_book_inner_div select {
	width: 100%;
	background-color: #fbf4ca;
}

.address_book_popup_title {
        font-size: 12pt;
	background-color: #fbf4ca;
        color: #000;
}

.edit_col, .host_col {
	display: none;
}

.who_is_online .edit_col, .who_is_online .host_col {
	display: block;
}

.message_header, .message_subject {
	font-size: 10pt;
	color: black;
	margin: 0;
	padding: 3px;
	background-color: #CCCCCC;
        text-align: left;
}

.message_subject {
	padding-top: 0;
	font-style: italic;
	float: left;
}

.msgbuttons {
        float: right;
        visibility: hidden;
	margin-top: 0;
	margin-right: 0;
	padding: 0;
}

#delbutton, .msgbuttons a {
        font-size: 7pt;
        margin: 1px;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-top: 1px solid #CFCFCF;
        border-left: 1px solid #CFCFCF;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #000000;
        background-color: #999999;
        color: #000000;
        font-weight: bold;
        text-align: center;
}

.msgbuttons a span {
        display: none;
}

.msgbuttons a:hover {
        background-color: #AAAAAA;
        text-decoration: none;
}

.message_content {
	background-color: white;
	margin: 0;
	padding: 3px;
        clear: both;
}

.message form div label {
        display: block;
        float: left;
        margin: 3px;
        width: 9em;
        text-align: right;
}

.message form div input, .message form div select {
        margin: 3px;
}

.imgedit {
        vertical-align: middle;
}

.send_edit_msg {
        float: right;
        margin-top: 0;
        margin-right: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 50px;
        padding-left: 50px;
}

.tablabel {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}

.boxlabel {
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFEE;
}

.boxlabel a {
	color: #FFFFEE;
}

ul.adminitems {
        list-style-type: none;
}

ul.adminitems li {
        list-style: none;
	font-size: 13px;
}

ul.adminitems a {
	font-size: 13px;
	margin: 5px;
	color: #880000;
	font-weight: bold;
}

ul.adminitems span {
	display: block;
	font-size: 8pt;
	color: #000088;
}


.customize {
	font-size: 8pt;
	font-style: italic;
	color: #000044;
	background-color: #DDDDCC;
}

.room_banner_room_name {
}

.room_banner_room_info {
}

.room_banner_new_messages {
}

.room_banner_start_page {
}

.view_name, .search_name, .selectbox, .inputbox {
	font-size: 7pt;
	background: #444455; 
	color: #ddddcc;
}

.menubar_bg {
	background-color: #FF0000;
}


.roomlist_floor {
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
}

.roomlist_new {
	font-size: 10pt;
	color: #880000;
	font-weight: bold;
}

.roomlist_old {
	font-size: 10pt;
	color: #000088;
}

.ib_roomlist_floor {
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}

.ib_roomlist_new {
	font-size: 10px;
	color: #880000;
	font-weight: bold;
	cursor: pointer;
}

.ib_roomlist_old {
	font-size: 10px;
	color: #000088;
	cursor: pointer;
}

.mailbox_summary {
	font-size: 10pt;
	color: #000000;
	background-color: #FFFFFF;
}

.mailbox_summary tr {
	width: 100%;
}

.mailbox_summary td {
	border-top: 1px solid darkgrey;
}

blockquote {
	color: navy !important; background-color: RGB(245,245,245) !important; 
}
blockquote blockquote {
	color: maroon !important; background-color: RGB(235,235,235) !important;
}
blockquote blockquote blockquote {
	color: green !important; background-color: RGB(225,225,225) !important;
}
blockquote blockquote blockquote blockquote {
	color: purple !important; background-color: RGB(215,215,215) !important;
}
blockquote blockquote blockquote blockquote blockquote {
	color: teal !important; background-color: RGB(205,205,205) !important;
}

blockquote pre {
	margin-left: 1%;
	margin-right: 1%;
}


var sub {
	font-style: normal;
}

.note {
	font-size: 85%;
	margin-left: 10%;
}

.toolbar {
	text-align: center;
}

.toolbar IMG {
	float: right;
}

.errormsg {
	color: #AA0000;
	background: none;
	font-weight: bold;
	font-style: italic;
}

.imsg {
	color: #aaaaaa;
	background: none;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.warning {
	color: #FF4500;
	background: none;
	text-decoration: none;
}

.error strong {
	color: #DC143C;
	background: #FFD700;
	text-decoration: none;
}

.warning strong {
	color: #FF4500;
	background: #FFD700;
	text-decoration: none;
}

.warning a:link, .warning a:visited, .warning a:active {
	color: #FF4500;
	background: none;
	text-decoration: underline;
}

.error a:link, .error a:visited, .error a:active {
	color: #DC143C;
	background: none;
	text-decoration: underline;
}

.error strong a:link, .error strong a:visited, .error strong a:active {
	color: #DC143C;
	background: #FFD700;
}

.warning strong a:link, .warning strong a:visited, .warning strong a:active {
	color: #FF4500;
	background: #FFD700;
}

colgroup.entity {
	text-align: center;
}

.default {
	text-decoration: underline;
	font-style: normal;
}

.required {
	font-weight: bold;
}

td li.transitional, .elements li.transitional {
	font-weight: lighter;
	color: #696969;
	background: none;
}

td li.frameset, .elements li.frameset {
	font-weight: lighter;
	color: #808080;
	background: none;
}

@media print {
	input#toggler, .toolbar { display: none }
}


.treetitle {
	padding:2px;
	cursor:default;
	
	font-size: 11px;
	color: #000000;
}
.editednode {
	padding:2px;
	cursor:default;
	background-color: #FFFFFF;;
	color: #000000;
	
	font-size: 11px;
}
.editednodeinput {
	background-color: #FFFFFF;;
	color: #000000;
	
	width: 150px;
	height: 17px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	font-size: 11px;
}
.treetitleselectedfocused {
	padding:2px;
	cursor:default;
	background-color: highlight;
	color: highlighttext;
	
	font-size: 11px;
}
.treetitleselectedblured {
	padding:2px;
	cursor:default;
	background-color: menu;
	color: windowtext;
	font-size: 11px;
}



div.auto_complete {
	width: 350px;
	background: #fff;
}

div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type: none;
	background: #fff;
}

div.auto_complete ul li {
	margin:0;
	padding:3px;
}

div.auto_complete ul li.selected {
	background-color: #ffc;
} 

div.auto_complete ul strong.highlight {
	color: #800;
	margin:0;
	padding:0;
}


.floors_config, .roomops_zap {
        border: 0;
        background-color: #770000;
        width: 100%;
}

.roomops_cell_label {
        background-color: #FFFFFF;
}

.roomops_cell, .roomops_cell_edit {
        background-color: #CCCCCC;
}

.auth_validate, .event_background, .calendar_background, .calendar_view_background, .graphics_background, .messages_background, .paging_background, .preferences_background, .roomops_background, .sieve_background { 
        border: 0;
        width: 100%;
        background-color: #ffffff;
}

.siteconfig_background { 
        border: 0;
        width: 100%;
}

.smtpqueue_background, .tabs_background, .useredit_background, .userlist_background, .downloads_background, .vcard_edit_background    {
        border: 0;
        width: 100%;
        background-color: #ffffff;
}

.auth_banner, .event_banner, .floors_banner, .calendar_banner, .graphics_banner, .inetconf_banner, .listsub_banner {
        border: 0;
        width: 100%;
        background-color: #444455;
}

.netconf_banner, .paging_banner, .preferences_banner, .roomops_banner, .setup_banner, .sieve_banner, .siteconfig_banner {
        border: 0;
        width: 100%;
        background-color: #444455;
}

.smtpqueue_banner, .useredit_banner, .userlist_banner, .downloads_banner, .vcard_edit_banner, .who_banner, .room_banner   {
        border: 0;
        width: 100%;
        background-color: #444455;
}


.vcard_edit_background_alt, .roomops_background_alt {
        border: 0;
        width: 100%;
        background-color: #dddddd;
}


.box {
        width: 100%;
        padding: 0px;
        background-color: #FFFFFF;
}

.boxlabel, .boxcontent {
        padding: 5px;
}

.boxlabel {
        background-color: #000088;
        text-align: center;
}

#login_screen {
	margin: 3%;
}

.login_content {
        background-color: white;
}

.login_message, .login_hello {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
}

.login_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.login_message {
	color: red;
	font-weight: bold;
	font-size: 16px;
}

#login_form {
        position: relative;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 6px;
        width: 300px;
        background-color: #DDDDDD;
}

#login_form input, #login_form label, #login_form select {
        display: block;
        float: left;
        margin: 6px;
}

#login_form label {
        width: 130px;
        text-align: left;
}

#pname, #uname {
        width: 130px;
        text-align: left;
}

#login_form br {
        clear: left;
}

#login_form .logbuttons {
        margin-left: auto;
        margin-right: auto;
}

#login_form .logbutton {
	width: auto;
        text-align: center;
}

.login_infos {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 80% ;
        text-align: left;
}

#address_book_popup {
        position: absolute;
        top: 100px;
        right: 25px;
        width: 320px;
	height: auto;
        z-index: 100;
	background-color: #fff;
	color: #000;
	display: none;
	border: 1px solid black;
}

#address_book_popup_container_div {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fbf4ca;
}

#address_book_popup_middle_div {
	position: relative;
	background-color: #fbf4ca;
}

#address_book_inner_div {
	margin: 5px;
}

#address_book_inner_div select {
	width: 100%;
	background-color: #fbf4ca;
}

.address_book_popup_title {
        font-size: 12pt;
	background-color: #fbf4ca;
        color: #000;
}

.edit_col, .host_col {
	display: none;
}

.who_is_online .edit_col, .who_is_online .host_col {
	display: block;
}

#wholist {
	border: 0;
        margin: 0;
        padding: 0;
	max-height: 200px;
	overflow: auto;
}

#wholist li {
	color: black;
        text-align: left;
        list-style: none;
	border: 0;
        margin: 0;
        padding: 2px;
        white-space: nowrap;
	border-top: 1px solid #aaaaaa;
}

#wholist li.activeuser a {
	background-color: rgb(255,240,146);
        padding-left: 5px;
} 

#wholist li.inactiveuser a {
	background-color: transparent;
        padding-left: 5px;
} 

table.altern {
	background-color: #ffffff;
	width: 100%;
}

table.altern .even {
	background-color: #dddddd;
}

table.altern .odd {
	background-color: #ffffff;
}
