#
# internetmail.config
# 
# This file contains a bunch of defs which you must edit to reflect the
# local environment on your system.
#
# The purpose of this file (and the programs that use it) is to enable
# the exchange of Internet e-mail to and from Citadel.


# Where to find the alias table.  Usually there is no need to change this.
aliases = ./network/mail.aliases

# If you are networking with Citadel-86 systems via Internet e-mail, they
# will be sending uuencoded network packets to "cit86net@yourhost.fqdn".
# Define CIT86NET to the name of the directory you wish these packets to be
# unpacked into.
cit86net spoolin = ./network/spoolin.cit86net

# Command to use to transmit mail (usually it's sendmail)
sendmail = sendmail %s

# Fallback mailer for delivery to non-Citadel local users (lmail, procmail...)
fallback = lmail %s

# Other names which this host is known by (specify up to ten names)
# deliver local = uncnsrd.spaghetti.com
# deliver local = uncnsrd.local

# Set to 0 to prevent the immediate processing of incoming Internet mail.
# This can be useful if mail tends to arrive in big batches.  Setting this
# value to 1 will run netproc immediately after each message arrives.
run netproc = 0

# If you are participating in a network in which any Citadel may gateway
# Internet mail to any Citadel on the local network, define GW_DOMAIN to the
# base name of the domain containing all the Citadels.  Otherwise, comment it
# out to disable this functionality.
gateway domain = citadelia.org

# If you are providing access to Internet mailing lists via Citadel rooms
# in order to allow everyone to access a list without everyone having to
# subscribe to the list, TABLEFILE defines where to locate the information
# to process the lists.  (This is NOT the same thing as using a networked room
# to *host* a mailing list, which you can also do.)  See mailinglists.txt for
# more information.
table file = ./network/mailinglists
