*.d
*.o
Make_modules
Make_sources
Makefile
aclocal.m4
build-stamp
config.log
config.status
configure
configure-stamp
ical_maps.c
locale/
modules_init.c
modules_init.h
po/Makefile
setup
sysdep.h
sysdep.h.in
webcit
i18n_templatelist.c
autom4te.cache
gmon.out
