#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if test -e /etc/default/webcit; then
  source /etc/default/webcit
else
    export WEBCIT_CITADEL_IP=127.0.0.1
    export WEBCIT_CITADEL_PORT=504
fi

db_capb backup 

if test -n "$2"; then
    if test "`echo $2 | sed -e 's/[.-]//g'`" -lt 127 \
	-o $1 = reconfigure
	then
	
	
	STATE=1
	LASTSTATE=2
	while [ "$STATE" != 0 -a "$STATE" -le "$LASTSTATE" ]; do
	    case "$STATE" in
		1)
		    db_input high citadel/WebcitApacheIntegration
		    ;;
		2)
		    db_get citadel/WebcitApacheIntegration
		    if test "$RET" = "Internal"; then
			db_input high citadel/WebcitHttpPort
		    else
			db_set citadel/WebcitHttpPort 8504
		    fi
		    ;;
		3)		     
		    db_get citadel/WebcitApacheIntegration
		    if test "$RET" = "Internal"; then
			db_input high citadel/WebcitHttpsPort
			db_set citadel/WebcitBindIp 0.0.0.0
		    else
			db_set citadel/WebcitHttpsPort -1
			db_set citadel/WebcitBindIp 127.0.0.1
		    fi
		    ;;
		4)
		    db_input high citadel/WebcitInstallnote
		    ;;
	    esac
	    if db_go; then
		STATE=$(($STATE + 1))
	    else
		STATE=$(($STATE - 1))
	    fi
	    
	done
	db_go
	db_get ciatdel/WebcitWebserver &&WWWTYPE="$RET"
	db_get citadel/WebcitHttpPort && WEBCIT_HTTP_PORT="$RET"
	db_get citadel/WebcitHttpsPort && WEBCIT_HTTPS_PORT="$RET"
	db_get citadel/WebcitBindIp && WEBCIT_LISTEN_IP="$RET"
	
	set |grep WEBCIT |sed "s;^;export ;;" >/etc/default/webcit
	
    fi
fi



exit 0
