#!/bin/bash

PACKAGE="citadel"
SOURCE="citadel"
VERSION="4:2.6.4-pl3-1"

. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ]

# Package maintainer's commands follow:
if test -n "$2"; then
 if test "`echo $2 | sed -e 's/[.-]//g'`" -lt 127 \
         -o $1 = reconfigure
 then
	 db_input medium citadel/reconfigure-webserver || true
	 db_go
# End of package maintainer's commands
 fi
fi
exit 0
