Source: webcit
Section: unknown
Priority: optional
Maintainer: Wilfried Goesgens <willi@jordy.home.net>
Build-Depends: debhelper (>= 4.0.0), libical-dev
Standards-Version: 3.6.1

Package: citadel-webcit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf, debconf, localeconf, locales
Suggests: citadel-server
Description: Webcit, the Webfrontend to the Citadel.
 WebCit puts a web-based front end on Citadel, allowing 
 users to access the system from any web browser. And 
 although you can use any browser, we recommend using 
 FireFox, simply the best web browser on the market. 
 It's the best, it's secure, and it's free, so if you 
 haven't switched yet, why not do so now? 

Package: citadel-webcit-apache
Architecture: any
Depends: citadel-webcit, apache2 | httpd, debconf
Description: Integrates Webcit with your local Apache

