#banner {
	z-index: 100;
	top: 0;
	position: fixed;
	width: 100%; 
	color: #424b52; /* set "#banner a" accordingly below */
	background-color: #fff;
	padding: 0;
	margin: 0;
	overflow: hidden;
	max-height: 7em;
}

#room_banner{ 
	min-width: 50em;
	max-width: 90em;
	margin: 0.5em 0.5em 0 0.5em;
}

#citlogo { 
	float: left;
	margin: 0;
}

.logo_citadel {border: none }

.logo_citadel img{
        background-color: #edede0;
        border: 2px solid #edede0;
        -khtml-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        behavior: url(/static/styles/PIE.htc);
} 

#room_definition {
	float: left;
	margin-left: 1.5em;
}

#room_descriptor ul {
	float: right;
	margin: 0;
}

.descriptor_list li {}

.roompic {
	float: left;
	margin-right: 0.5em;
	height: 32px;
}

#banner a { color: #424b52; }

.banner h1, .banner h2 {
	float: left;
	display: inline;
	font-size: 150%;
	margin: 0;
}

/*#banner #rmname { white-space: nowrap; } */

.banner h2, .banner .titlebar { font-size: 120% }

.banner .infos, #room_infos {
        /*position: absolute;
        top: 1em;
	left: 18em;*/
	display: inline;
	margin: 0.5em;
	cursor: help;
}


#room_infos {
	z-index: 10;
	cursor: pointer;
}

#room_infos img.close_infos { float: right }

#room_details {
	clear: both;
	float: left;
	margin: 0.3em;
}

#nummsgs, #numfiles, #searchomatic { 
        font-size: 75%;
        margin-right: 0.5em;
}

#searchomatic form {display: inline}

#actiondiv {
	float: right;
	text-align: right;
	font-size: 70%;
}

.banner ul.room_actions {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.banner ul.room_actions li {white-space: nowrap }

#loggedinas { margin-bottom: 0.5em }

.user_name { font-style: italic }

#selectpage.hidden { display: none !important }

#banner input { 
	font-size: x-small;
	height: 1em;
}

.room_actions select {
	cursor: pointer;
	font-size: x-small;
	height: 1.7em;
}

/* some rooms use the override banner: */
#room_banner_override { display: none }
