#banner {
	background: #4D555C;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4D555C), to(#7D858C));
	background: -moz-linear-gradient(#4D555C, #7D858C);
	background: linear-gradient(#4D555C, #7D858C);
	-pie-background: linear-gradient(#4D555C, #7D858C);
	behavior: url(/static/styles/PIE.htc);
        border-bottom: 2px solid #424b52;
	color: #f0feff;
	margin: 0;
	padding: 0;
	top: 0;
	height: 100px;          /* when changing this, also change #content */
	position: fixed;
	width: 84%;             /* when changing this, also change #iconbar and #content */
	left: 16%;              /* when changing this, also change #iconbar and #content */
	z-index: 3;                                                
	overflow: hidden;
}

#banner table { width: 100% }

#banner a { color: #f0feff }

#banner h1 {
	font-size: 160%;
	font-weight: 700;
}

#banner #rmname { white-space: nowrap; }

#banner h2 { font-weight: 700}

#banner h2, #banner .titlebar { font-size: 130% }

#banner ul.room_actions li.start_page a {
	background-color: #5C646B;
	color: #FEFFFC;
	border: 1px solid black;
}

#banner .banner {}

/* style for the rooom picture */
#banner td img {
	padding: 0;
	margin: 0.5em;
	max-height: 64px;
	float: left;
}

#banner h1, #banner h2 {
	padding: 0;
	margin: 0;
}

#banner .banner p {
	padding: 0;
	margin: 0;
}

/* style for the feed, file, etc picture */
#banner .banner td  a > img {
	clear: both;
	padding: 0;
	margin: 0 0.3em;
	border: none;
}

#banner .infos{ margin: 0.5em }

#room_infos {
	position: absolute;
	top: 0;
	left: 50%;
	width: 45%;
	z-index: 10;
	cursor: pointer;
	text-align: left;
	padding: 10px 2px 2px 2px;
}

#room_infos img.close_infos { float: right }

#actiondiv {
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 70%;
	font-weight: bold;
}

#banner ul.room_actions {
	list-style: none;
	margin: 0;
	padding: 0;
}
#banner ul.room_actions li {
	white-space: nowrap;
}
#banner ul.room_actions li form {
	margin: 0;
	padding: 0;
}

#banner ul.room_actions li select, #banner ul.room_actions li input {
	margin-top: 2px;
	margin-right: 2px;
}

#room_banner_override {
	display: none;
}

#nummsgs, #numfiles { 
	font-size: 75%;
	margin-left: 0.5em;
}

#selectpage.hidden { display: none !important }


.banner .infos { cursor: help }

.room_actions form select { cursor: pointer }

.start_page { font-size: 50% }
