.box {
	background-color: transparent;
	width: 100%;
	padding: 0;
	margin: 0;
}

#content .box {
	text-align: center;
}

.boxlabel, .boxcontent { margin: 0 }

#content .boxlabel, #global .boxlabel {
	padding: 0;
	width: 100%;
	text-align: center;
}

.boxlabel {
	background-color: #5C646B;
	color: #FEFFFC;
	font-weight: 700;
	text-align: center;
	padding: 0;
	border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
}

.boxcontent {
	text-align: left;
	padding: 5px;
	background-color: #FEFFFC;
	color: #000;
	border: 2px solid #5C646B;
	border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px; 
	-webkit-box-shadow: #666 0px 1px 2px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
}
