.box {
	background-color: transparent;
	margin-bottom: 1em;
	border: 1px solid #5C646B;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px; 
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
}

#content .box {
	text-align: center;
}

.boxlabel, .boxcontent { margin: 0 }

#content .boxlabel, #global .boxlabel {
	padding: 0;
	text-align: center;
}

.boxlabel {
	color: #424b52;
	font-weight: bold;
	text-align: center;
	padding: 0;
}

.boxcontent {
	text-align: left;
	padding: 0.5em;
	color: #000;
	border-top: 1px solid #5C646B;
}
