#content { padding-top: 5px; }


.boxcontent table {
	margin: 0;
	padding: 0;
}

.moreprompt {
	margin: 0 auto;
	text-align: center;
	font-size: small;
	color: #424b52;
}
 
.moreprompt_link {color: #424b52;}
 
.moreprompt_link:hover {
	text-decoration: underline;
}

