#iconbar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 16%;             /* when changing this, also change #banner width */
	z-index: 0;
	overflow: auto;
	overflow-x: hidden !important;
}

#iconbar_container { background-color: #FFF; }

#citlogo { padding: 10px 0; }

.logo_citadel a,.logo_citadel img {
	border: none;
}

.logo,.logo_citadel, .iconbar_text {
	border: none;
	border-bottom: 1px solid #AAA;
} 

.ib_button, .iconbar_text{
	background-color: #4d555c;
	color: #F0FEFF;
	font-weight: bold;
} 

.iconbar_text {
	font-size: 75%;
}

.ib_button_link, .ib_button_link:visited, .ib_button_link:link, #online_users a {
	display: block;
	text-decoration: none;
	color: #F0FEFF;
}

#iconbar #button {
	padding: 0;
	border: none;
	list-style: none;
}

.ib_button {
	margin: 3px;
	padding: 0;
	display: block;
	font-size: 80%;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/static/styles/PIE.htc);
}

.logo, .logo_citadel, .iconbar_text {
	margin: 0;
	padding: 0;
}

.logo, #citlogo, .iconbar_text, #online_users li {
	text-align: center;
}

.iconbar_text > span {
	cursor: pointer;
}

#iconbar #button { width: 100% }

#online_users {
	display: none; /* Hide by default */
	border: 0;
	max-height: 200px;
	overflow: auto;
	padding-left: 0;
	padding-bottom: 5px;
} 

#online_users li {
	list-style: none;
	margin: 0;
	padding: 2px;
	white-space: nowrap;
	border: none;
	border-top: 1px solid #777277;
}

#online_users li a { font-size: 80% !important }

#online_users li.inactiveuser { background-color: #9c959d; }
 
#online_users li.activeuser { background-color: #4d555c; }
 
#online_users li:hover { /* separate in order for override */ }



.ib_roomlist_floor, .ib_roomlist_new, .ib_roomlist_old, .roomlist_floor, .roomlist_new, .roomlist_old {
	margin: 4px;
	padding: 0;
}

.ib_roomlist_floor, .ib_roomlist_new, .ib_roomlist_old {
	cursor: pointer;
}

.ib_roomlist_floor, .roomlist_new, .ib_roomlist_new {
	font-weight: 700;
}

.ib_roomlist_floor {}

.roomlist_new, .ib_roomlist_new {
	color: #800;
}

.roomlist_old, .ib_roomlist_old {
	color: #008;
}

#button li:hover, #ib_logoff:hover {
        background-color: #5c646b;
}
