#iconbar {
	position: fixed;
	top: 4em;
	max-width: 8em;
        padding: 2em 0.5em;
	z-index: 2;
/*	overflow: auto;
/*	overflow-x: hidden !important; */
	background-color: #fff; /*important when you are on small screens*/
}

#iconbar_container {}

.iconbar_text {}

.iconbar_text > span { 	cursor: pointer }

#iconbar_menu ul {
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	font-size: 90%;
}

.ib_button_link, .ib_button_link:visited, .ib_button_link:link, #online_users a {
	display: block;
	margin-left: 24px;
	line-height: 20px; /*adjust with iconbarics.css*/
	text-decoration: none;
	color: #4d555c;
}

.ib_button{
	display: block;
 }

.ib_button_link:hover, #button li:hover, #ib_logoff:hover, #ib_login:hover {color: #7d858c}
	/* color: #5c646b */

#roomlist, #online_users{
	display: none; /* Hide by default */
	border: 0;
	max-height: 200px;
	overflow: auto;
	padding-left: 0;
	padding-bottom: 5px;
} 

#roomlist .floor {
	margin-left: 1em;
}

#roomlist .room{
	margin-left: 1em;
}

#online_users ul{
	list-style: none;
	margin: 0;
	padding: 2px;
	white-space: nowrap;
	text-align: center;
}

#online_users li a { font-size: 80% !important }

#online_users li.inactiveuser a {color: #9c959d}
 
#online_users li.activeuser a {color: #4d555c}
 
#online_users li:hover { /* separate in order for override */ }

#iconbar_container #customize a:active, #iconbar_container #customize a:link, #iconbar_container #customize a:visited {
	color: #f0feff;        
	background-color: #7d858c;
	font-size: 80%;
	line-height:1.5em;
	text-align: center;
	display: block;
	border: 1px solid transparent;
        -khtml-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        behavior: url(/static/styles/PIE.htc);
}
