#login_screen, #logout_screen {
	position: fixed;
	left: 0;
	right: 0;
	margin: 5em auto;
	width: 42em;
	overflow: auto;
}

/*because our current layout is a little complicated, we need this: */
#login_screen .box, #logout_screen .box {
	width: 40em;
	padding: 1em 0;
}

#login_screen .login_message, .login_hello, #login_screen #login_form {
	display: block;
	margin: 5px auto 5px auto;
}

#login_screen .login_message, .login_hello { width: 80% }

#login_screen .login_image { 
	width: 135px;
	margin: 0 auto;
}

#login_screen .login_image img { 
	margin: 0 auto;
}

#login_screen #login_form {
	padding: 10px;
	width: 330px;
}

#login_form input, #login_form label, #login_form select {
	display: block;
	float: left;
	margin: 6pt;
}
 
#login_form label, #pname, #uname {
	width: 130px;
	text-align: left;
}
 
#login_form br { clear: left }

.login_infos {
	bottom: 0;
	display: block;
	margin: 20px auto 0 auto;
	width: 80%;
	text-align: left;
}


#convlogin { text-align: center }

#login_form{ background-color: #CCC}

.login_message {
	color: #AD1C00;
	font-weight: 700;
	text-transform: uppercase;
}

#login_form #uname, #login_form #pname {
	background-color: #fbf4ca !important; /* needed for li.activeuser */
	border: 1px solid #999;
	color: #333;
}

.logbuttons input {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

.logbuttons, .registernow {
	width: 50%;
        margin: 1em auto;
        text-align: center;
        display: block;
	height: 2em;
	line-height: 2em;
        background-color: #4d555c;
        font-weight: bold;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        behavior: url(static/styles/PIE.htc);
}

.logbuttons a:link, .registernow a:link { color: #f0feff; }
