.message, .entmsg{
	background-color: #deded0;
	margin: 0.5em 1em;
/*	border: 1px solid #5C646B; */
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
/*	behavior: url(/static/styles/PIE.htc);*/
	max-width: 42em;
	min-width: 25em;
}

.entmsg { min-height: 25em; }

.message_header {
	font-size: x-small;
	padding: 0.5em;
}

.message_content {
	background-color: #fff;
	padding: 0.5em;
	clear: both;
}


.message_subject {
	font-size: medium;
	font-style: italic;
	float: left;
}

.message_header span, .message_header a { font-weight: bold; }

.message_header p {
        margin: 3px 0;
        padding: 0;
}


.message_content > div > div { text-align: justify !important }

.message form div label, .entmsg form div label {
	display: block;
	float: left;
	margin: 0.3em;
	width: 9em;
	text-align: right;
}
 
.message form div input, .message form div select, .entmsg form div input, .entmsg form div select {
	margin: 0.3em;
}

.msgbuttons {
	float: right;
	font-size: 80%;
	line-height: 2em;
}

.msgbuttons a {
	font-size: x-small;
	display: inline-block;
	margin-left: 0.3em;
}

/* Blockquotes in messages need to be distingushable */
/* there is a lot of cascading happen io order to make it look beautiful */
/* if you make changes here, port them to WEBCIT-CKEDITOR.css! */
.message_content blockquote {
	/*border: 1px solid #5C646B;*/
	padding: 0.2em;
	margin: 0.3em 0.5em;
}

.message_content blockquote .message_header span {
	display: inline-block;
}

.message_content blockquote .message_header span.message_subject {
	display: block;
	float: none;
}

/*top border of message headerrs in a blockquote need to be transparent*/
blockquote .message_header {          
	padding: 0;
	background-color: #deded0;
}

blockquote .message_content {
	padding: 0;
	background-color: transparent;
	margin: 0.3em;
}

blockquote {
        background-color: #f5f5f5 !important;
        color: navy !important;
}

blockquote blockquote {
        background-color: #ebebeb !important;
        color: maroon !important;
}

blockquote blockquote blockquote {
        background-color: #e1e1e1 !important;
        color: green !important;
}

blockquote blockquote blockquote blockquote {
        background-color: #d7d7d7 !important;
        color: purple !important;
}

blockquote blockquote blockquote blockquote blockquote {
        background-color: #cdcdcd !important;              
        color: teal !important;
}

blockquote pre {
        margin-left: 1%;
        margin-right: 1%;
}

/* --- End of blockquoting block --- */


.message img {
	max-width: 700px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #5C646B;
	box-shadow: #666 0px 2px 3px;
	-webkit-box-shadow: #666 0px 1px 2px;
	-moz-box-shadow: #666 0px 2px 3px;
}

#attachments_form { 
	display: none;
	max-width: 42em;
        min-width: 25em;
}
