#navbar {
	color: #424b52;
	background-color: #fff;
}

/* Only visible on phone screens */
a.iconbar-btn { display:none; float:left; }
a.iconbar-btn img { 
	margin:0 0 0 16px;
	padding:0;
	width:32px;
	height:auto;
	cursor:pointer;
	float:left; }

ul.nav {
	float: left;
	width: 100%;
	font-size: 75%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #424b52;
	text-align: center;
}

ul.nav li {
	float: left;
	vertical-align: middle;
	padding: 0.3em;
	margin: 0;
}

ul.nav li a {
	padding: 0.4em;
	white-space: nowrap;
}

ul.nav li a:hover {
	text-decoration: none;
	border-bottom: 0.2em solid #424b52;
}

ul.nav li img {
	float: none;
}

ul.nav ul li a img {
      vertical-align: middle;
}
