#navbar {
	font-size: 70%;
	font-weight: bold;
	height: 2em;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #7D858C;
	border-top: 2px solid #424b52;
	color: #FFF;
}

#navbar ul, .selector_top, .selector_bottom {
	width: 100%;
	margin: 0 auto 0 auto;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

#navbar ul li {
	display: inline;
	list-style: none;
	vertical-align: middle;
	padding: 0 0.2em;
}

#navbar ul li a {
	padding: 0.3em;
	display: inline-block;
	white-space: nowrap;
}

#navbar ul li a:hover {
	padding: 0.3em;
	background-color: #5c646b;
	border: 0px solid #5c646b;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}

#navbar ul li img {
	float: none;
	margin: 0 2px;
}

#navbar ul li a img {
      vertical-align: middle;
      border: none;
}

