/* styles applied to the TinyMCE editor component when used in WebCit */
body {font-size: 12px;}

blockquote{
	background-color: #deded0;
}

.message_header {
	font-size: x-small;
	padding: 0.5em;
}

.message_content {
	background-color: #fff;
	padding: 0.5em;
	clear: both;
}


.message_subject {
	font-size: medium;
	font-style: italic;
	float: left;
}

.message_header span, .message_header a { font-weight: bold; }

.message_header p {
        margin: 3px 0;
        padding: 0;
}


.message_content > div > div { text-align: justify !important }

.message form div label, .entmsg form div label {
	display: block;
	float: left;
	margin: 0.3em;
	width: 9em;
	text-align: right;
}
 
.message form div input, .message form div select, .entmsg form div input, .entmsg form div select {
	margin: 0.3em
}

/* make blockquotes in messages distingushable */
/* there is a lot of cascading happen io order to make it look beautiful */
.message_content blockquote {
	padding: 0.2em;
	margin: 0.3em 0.5em;
}

blockquote .message_header {          
	padding: 0;
	background-color: #deded0;
}

.message_content blockquote .message_header span {
	display: inline-block;
}

.message_content blockquote .message_header span.message_subject {
	display: block;
	float: none;
}

blockquote .message_content {
	padding: 0;
	background-color: transparent;
}

blockquote {
	background-color: #f0f0f0 !important;
	color: navy !important;
}

blockquote blockquote {
	background-color: #ebebeb !important;
	color: maroon !important;
}
 
blockquote blockquote blockquote {
	background-color: #e1e1e1 !important;
	color: green !important;
}

blockquote blockquote blockquote blockquote {
	background-color: #d7d7d7 !important;
	color: purple !important;
}
 
.message img {
	max-width: 700px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #5C646B;
}
