*.o
*.d
*.gcno
*.gcda
Make_modules
Make_sources
Makefile
Makefile.in
locale
aclocal.m4
aidepost
base64
build-arch-stamp
build-indep-stamp
chkpw
chkpwd
citadel
citmail
citserver
config.log
config.status
configure
configure-stamp
ctdlmigrate
database_cleanup.sh
getmail
modules_init.c
modules_init.h
modules_upgrade.c
msgform
panic.log
sendcommand
setup
svn_revision.c
sysdep.h
sysdep.h.in
userlist
whobbs
gmon.out
autom4te.cache
citadel.config
citadel.control
citadel.pid
refcount_adjustments.dat
keys
netconfigs
data
