#
# This file allows full customization of the user interface.
#
# The standard client looks for this file in:
# 1. $HOME/.citadelrc
# 2. <compiled CTDLDIR>/citadel.rc
# 3. /etc/citadel.rc
# 4. <current directory>/citadel.rc

# Set ENCRYPT to yes to force SSL/TLS encryption when connecting to a
# Citadel server, even if the server is on the same machine as the
# client.  Set it to no to disable SSL/TLS encryption.  The default is to
# enable encryption for remote systems and to disable encryption for
# systems on the same machine as the client.
encrypt=default

# Set EDITOR to the name of an external editor to be used for entering
# messages.  If you want the external editor to be used by default, be sure
# to reflect this in the command set below.
#
# editor=vi

# If you define PRINTCMD, it will be a pipe through which messages are
# printed when the user hits the <P>rint key after a message.
#
#printcmd=lpr

# If you define EXPCMD, it will be a pipe through which any incoming
# instant messages will be printed.
#expcmd=xmessage -title "Instant message" -center -buttons OK -file -

# ANSI_COLOR should be set to on/off/auto/user to control the use of
# color on the screen.  If it is set to "auto" then an autodetect will be
# attempted.  If it is set to "user" then it's a user-configurable option.
#
ansi_color=user

# USE_BACKGROUND controls Citadel's use of the background.  If it is turned
# off, then Citadel will set the background to black.  When it is turned on,
# the background will be unchanged.  This is most useful with "transparent"
# terminals.  Color must be on (see above) or this option has no effect.
#
use_background=off

# STATUS_LINE will keep an informative status line on the top of the screen,
# but it doesn't work on all terminals (Mac OS is particularly bad at this).
status_line=off

# PROMPT_CONTROL should be set to on/off/user to control whether the <N>ext
# and <S>top keys are active when displaying the paginator prompt.  If it
# is set to "user" then it's a user-configurable option.
#
prompt_control=user

# If DISPLAY_MESSAGE_NUMBERS is set to 1, then messages will be displayed
# with their message numbers in the header.  This is ugly but some
# people seem to like it anyway...
#
display_message_numbers=0

# The FORCE_MAIL_PROMPTS directive causes mail rooms to always display a
# prompt after each message, even if the user has prompts turned off.
#
force_mail_prompts=1

# USE_FLOORS determines whether the user sees floors, or a flat room space.
# Set it to YES to always use floors, NO to never use floors, or DEFAULT
# to use the setting in the user's configuration (which is normally the case).
#
use_floors=DEFAULT

# BEEP should be set to 1 if you wish the terminal to beep when an express
# message (page) comes in, otherwise set it to 0.
#
beep=1

# ALLOW_ATTACHMENTS should be set to 1 if you wish the user to be able to
# attach files to messages and/or save attachments to disk while reading
# messages.  (DANGER: do NOT enable this for "safe" public clients!)
#
allow_attachments=0

# IDLE_THRESHOLD is the amount of time a user does nothing before being
# listed as "idle" on the who list.  The default is 900 seconds (15 minutes).
#
idle_threshold=900

# If you set REMEMBER_PASSWORDS to 1, the Citadel client will offer to
# remember your user name and password for every Citadel server you access,
# automatically logging in with them on subsequent visits. 
# (DANGER: do NOT enable this for "safe" public clients!)
#
remember_passwords=0

# Optionally, you can force the same username and password everywhere.  This
# obviously isn't as robust as the password manager.
#
#username=My User Name
#password=mypassword

# If URLCMD is defined, users can hit 'U' after reading a message which
# contains embedded URL's, and the command will be executed.  Usually this
# will be used to remote-control a web browser.  (Do not enable this command
# for 'safe' public clients.)
#
# This one ought to work on any Linux that has the "Portland" API's installed.
# If properly configured, xdg-open will open the URL in the user's preferred
# web browser.
#urlcmd=xdg-open "%s"
#
# This one works really well on a Macintosh -- it opens URL's in whatever
# browser you have configured as the system default.
#urlcmd=open "%s"

# If OPENCMD is defined, users can hit 'O' after reading a message which
# contains attachments, to open the attachments using that command.  This
# allows attachments to be opened directly from the Citadel client without
# having to first save them in a file.  The "allow_attachments" option (see
# above) must be enabled in order for this to work.
# 
# xdg-open works on most newer Linux systems
opencmd=xdg-open "%s"
#
# This probably will work on a Macintosh
#opencmd=open "%s"

# If GOTMAILCMD is defined, the specified command will be executed.  This
# might be nice for playing sounds or providing any other type of notification.
#
#gotmailcmd=play gotmail.wav

# If IMAGECMD is defined, users can hit 'I' to view images attached to a
# message.  (Do not enable this command for public clients.)
#
# Possible image viewers follow

# xdg-open - on Linux systems with the Portland API's installed, this ought
# to open the image in the user's preferred viewer.
#imagecmd=xdg-open "%s"
#
# Preview on Mac OS X
#imagecmd=/Applications/Preview.app/Contents/MacOS/Preview "%s"


# COMMAND SET CONFIGURATION
#
# All lines starting with "cmd=" are considered to be commands.  This allows
# mapping of keytstrokes to various functions of the client.
#
# Format of each line:
# cmd_num,access,keystrokes
#
# Keep a copy of the original version of this file around as a reference
# for the command numbers.  They are not documented anywhere else.
#
# Access is:  0 (all users), 1 (admins or room admins), 2 (admins only).
# Please be aware that it is futile to attempt to gain unauthorized access to
# the administrative functions of the system by changing all the access levels
# to 0.  If you do this, you'll simply be able to enter a lot of commands that
# will fail at the server ... so don't bother trying. :-)
#
# The actual key to be pressed should be prefaced with an & (ampersand)
# character.  Ampersands are interesting and useful characters and you should
# use them as much as possible.  Commands requiring more than one keystroke
# should be entered as multiple fields.
#
# If the last keystroke string ends with a : (colon), then the command
# will finish by allowing the user to enter a string.
#
# In keystroke names, the string ^r will be replaced by the name of the
# current room.  The string ^c will be replaced by a comma.
#
# Commands may contain no more than five keystrokes.
#
# Note that the following characters are illegal in commands:
#  , (comma)    : (colon)     ^ (caret)     & (ampersand)
#
#
cmd=1,0,&? (Help)
cmd=1,0,&Help
cmd=3,0,&Chat
#
# If you want to use an external editor by default, set <E>nter message
# to command #46 (external editor) instead of #4 (built-in editor).
cmd=4,0,&Enter message
#
cmd=5,0,&Goto
cmd=6,0,&Skip ^r
cmd=7,0,&Zap (forget) room
cmd=8,0,&Known rooms
cmd=9,0,&Last five msgs
cmd=10,0,read &Forward
cmd=11,0,read &Reverse
cmd=12,0,read &Old
cmd=13,0,read &New
cmd=14,0,read &Directory
cmd=15,0,&Terminate
cmd=16,0,&Ungoto
cmd=95,0,&.,&Ungoto:
cmd=17,0,&Who is online
cmd=47,0,&Abandon ^r^c goto...
#cmd=90,0,&Abandon ^r^c goto:
cmd=50,0,toggle e&Xpert mode
cmd=49,0,read &Info file
cmd=18,2,&! <shell>
cmd=19,0,&.,list &Zapped rooms
cmd=52,0,&.,&Skip ^r^c goto:
cmd=56,0,&Page a user
cmd=58,0,&Mail
cmd=84,0,&Quiet mode
#
# We implement both <.G>oto and <J>ump commands which do the same thing, in
# order to please a wider audience of users.  Remove one if you want to.
#
cmd=20,0,&Jump:
cmd=20,0,&.,&Goto:
#
cmd=21,0,&.,&Help:
cmd=22,1,&.,&Admin,&Kill this room
cmd=23,1,&.,&Admin,&Edit this room
cmd=24,0,&.,&Admin,&Who knows room
cmd=25,2,&.,&Admin,&User,&Edit
cmd=96,2,&.,&Admin,&User,&Delete
cmd=26,2,&.,&Admin,&Validate new users
cmd=48,1,&.,&Admin,enter &Info file
cmd=27,0,&.,&Admin,&Room,&Invite user
cmd=28,0,&.,&Admin,&Room,&Kick out user
cmd=51,1,&.,&Admin,&File,&Delete
cmd=54,1,&.,&Admin,&File,&Move
cmd=70,2,&.,&Admin,&Message edit:
cmd=78,1,&.,&Admin,&Post
cmd=80,2,&.,&Admin,&System configuration,&General
cmd=82,2,&.,&Admin,&System configuration,&Internet
cmd=88,2,&.,&Admin,&System configuration,&Network
cmd=92,2,&.,&Admin,&System configuration,network &Filter list
cmd=85,2,&.,&Admin,&Terminate server,&Now
cmd=86,2,&.,&Admin,&Terminate server,&Scheduled
cmd=87,1,&.,&Admin,mailing &List recipients
cmd=94,1,&.,&Admin,mailing list &Digest recipients
cmd=89,1,&.,&Admin,&Network room sharing

cmd=29,0,&.,&Terminate,and &Quit
cmd=30,0,&.,&Terminate,and &Stay online

# The 'read user listing' command accepts two different formats.  The one with
# the trailing colon allows the user to enter a few characters to search for
# users with a partial match.
#
#cmd=32,0,&.,&Read,&User listing
cmd=32,0,&.,&Read,&User listing:

cmd=33,0,&.,&Read,&Textfile formatted
#
# Command 55 allows the user to save a downloaded file directly to the
# computer running the client software.  It is appropriate for a copy of
# this client running on the user's own computer.  It is NOT appropriate for
# public copies of the client that people will be dialing into.
#
#cmd=55,0,&.,&Read,&File
#
# Commands 34, 43, and 45 are appropriate for public copies of the client for
# dialup use.  They transfer downloaded files to a temporary file and then
# send them along to a dialup user using the popular protocols.
#
# cmd=34,0,&.,&Read,file using &Xmodem
# cmd=43,0,&.,&Read,file using &Ymodem
# cmd=45,0,&.,&Read,file using &Zmodem
cmd=31,0,&.,&Read,&File unformatted
#
cmd=13,0,&.,&Read,&New messages
cmd=12,0,&.,&Read,&Old msgs reverse
cmd=71,0,&.,read &Last:
cmd=9,0,&.,&Read,&Last five msgs
cmd=14,0,&.,&Read,&Directory
cmd=49,0,&.,&Read,&Info file
cmd=114,0,&.,&Read,&Configuration
cmd=115,0,&.,&Read,&System info
cmd=35,0,&.,&Enter,&Password
cmd=36,0,&.,&Enter,&ASCII message
cmd=37,0,&.,&Enter,&Configuration
cmd=38,0,&.,&Enter,a new &Room
cmd=39,0,&.,&Enter,&Textfile
cmd=77,0,&.,&Enter,&Username
# cmd=40,0,&.,&Enter,file using &Xmodem
# cmd=42,0,&.,&Enter,file using &Ymodem
# cmd=44,0,&.,&Enter,file using &Zmodem
#
# Command 57 is the local-file-upload command for users with their own
# copy of the clientware.  Commands 72-73 are for image uploads.
#
#cmd=57,0,&.,&Enter,&File
#cmd=72,0,&.,&Enter,&Image,user &Picture
#cmd=73,0,&.,&Enter,&Image,&Room banner
#
cmd=41,0,&.,&Enter,re&Gistration
cmd=4,0,&.,&Enter,&Message
cmd=127,0,&.,&Enter,remote POP&3 accounts
cmd=128,0,&.,&Enter,&XML/RSS feed retrieval

# If you have an external editor defined, it will appear on command 46.
cmd=46,0,&.,&Enter,message with &Editor

# If you have multiple editors defined, they will appear on
# commands 46, 101, 102, 103... up to MAX_EDITORS (5 by default)
#cmd=101,0,&.,&Enter,message with &VI
#cmd=102,0,&.,&Enter,message with &Nano

cmd=59,0,&;,&Configure floor mode
cmd=60,0,&;,&Goto floor:
cmd=60,0,&.,&Enter,&Floor:
cmd=61,0,&;,&Skip to floor:
cmd=62,0,&;,&Zap (forget) floor
cmd=63,2,&;,&Admin,&Create floor
cmd=64,2,&;,&Admin,&Edit this floor
cmd=65,2,&;,&Admin,&Kill this floor
cmd=68,0,&;,&Known rooms
cmd=66,0,&.,&Enter,&Bio
cmd=67,0,&.,&Read,&Bio

cmd=79,0,&.,&Wholist,&Long
cmd=75,0,&.,&Wholist,&Roomname
cmd=76,0,&.,&Wholist,&Hostname
cmd=91,0,&.,&Wholist,&Active
cmd=93,0,&.,&Wholist,&Stealth mode

cmd=110,0,&+Next room
cmd=111,0,&-Previous room
cmd=112,0,&>Next floor
cmd=113,0,&<Previous floor
cmd=116,0,&.,skip to &+Next room
cmd=117,0,&.,skip to &-Previous room
cmd=118,0,&.,skip to &>Next floor
cmd=119,0,&.,skip to &<Previous floor

cmd=120,0,&.,&Known,&Anonymous rooms
cmd=121,0,&.,&Known,&Directory rooms
cmd=68,0,&.,&Known,&Floors
cmd=49,0,&.,&Known,room &Info
cmd=122,0,&.,&Known,&Match rooms:
cmd=123,0,&.,&Known,preferred &Only rooms
cmd=124,0,&.,&Known,&Private rooms
cmd=125,0,&.,&Known,&Read only rooms
cmd=126,0,&.,&Known,&Shared rooms
cmd=19,0,&.,&Known,&Zapped rooms

#
# Command 69 allows the user to enter a server command directly.  It is
# primarily for testing and not intended for general use.  Usually there
# is no need to enable it.
cmd=69,0,&@Server command:
#
# end of command set configuration
#
