#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if test -n "$2"; then
 if test "`echo $2 | sed -e 's/[.-]//g'`" -lt 127 \
         -o $1 = reconfigure
 then
	db_input high citadel/WebcitHttpPort
	db_input high citadel/WebcitHttpsPort
	db_input high citadel/WebcitInstallnote
	db_go
 fi
fi



exit 0
