#!/bin/sh
set -e
. /usr/share/debconf/confmodule

db_version 2.0

db_capb backup 

DO_CONFIGURE=no

if test -n "$2"; then
# do we want to reconfigure?
    if test "$1" = reconfigure; then
	DO_CONFIGURE=yes
    fi
else 
# are we in first install?
    if test "$1" = "configure"; then
	DO_CONFIGURE=yes
    fi
fi

if test "$DO_CONFIGURE" = "yes"; then
	if test -e /etc/default/webcit; then
		. /etc/default/webcit
	else
		WEBCIT_APACHEFLAG=" "
		WEBCIT_HTTP_PORT=8504
		WEBCIT_HTTPS_PORT=-1
		WEBCIT_LANG=UNLIMITED
	fi
		
	if test "$WEBCIT_APACHEFLAG" = "-f"; then
		db_set citadel/WebcitApacheIntegration Apache2
	else
		db_set citadel/WebcitApacheIntegration Internal
	fi
	db_set citadel/WebcitHttpPort $WEBCIT_HTTP_PORT
	db_set citadel/WebcitHttpsPort $WEBCIT_HTTPS_PORT
	db_set citadel/WebcitOfferLang $WEBCIT_LANG

	STATE=1
	LASTSTATE=5
	while [ "$STATE" != 0 -a "$STATE" -le "$LASTSTATE" ]; do

	case "$STATE" in
	    1)
		db_input high citadel/WebcitApacheIntegration || true
		;;
	    2)
		db_get citadel/WebcitApacheIntegration
		if test "$RET" = "Internal"; then
		    db_set citadel/WebcitHttpPort 80
		    db_input high citadel/WebcitHttpPort || true
		fi
		;;
	    3)
		db_get citadel/WebcitApacheIntegration
		if test "$RET" = "Internal"; then
		    db_set citadel/WebcitHttpsPort 443
		    db_input high citadel/WebcitHttpsPort || true
		fi
		;;
	    4)
		db_input high citadel/WebcitOfferLang || true
		;;
	    5)
		db_input high citadel/WebcitInstallnote||true
		;;
	esac
	if db_go; then
	    STATE=$(($STATE + 1))
	else
	    STATE=$(($STATE - 1))
	fi

	done
    set |grep WEBCIT |sed "s;^;export ;;" >/etc/default/webcit
fi

exit 0
