#!/bin/sh
set -e
. /usr/share/debconf/confmodule

db_version 2.0

db_capb backup 

DO_CONFIGURE=no

if test -n "$2"; then
# do we want to reconfigure?
    if test "`echo $2 | sed -e 's/[.-]//g'`" -lt 127 \
	-o "$1" = reconfigure
	then
	DO_CONFIGURE=yes
    fi
else 
# are we in first install?
    if test "$1" = "configure"; then
	DO_CONFIGURE=yes
    fi
fi

if test "$DO_CONFIGURE" = "yes"; then
    if test -e /etc/default/webcit; then
	. /etc/default/webcit
    else
	export WEBCIT_CITADEL_IP=127.0.0.1
	export WEBCIT_CITADEL_PORT=504
    fi
    STATE=1
    LASTSTATE=4
    while [ "$STATE" != 0 -a "$STATE" -le "$LASTSTATE" ]; do

	case "$STATE" in
	    1)
	echo aou $STATE>>/tmp/bla
		db_input high citadel/WebcitApacheIntegration || true
		db_go
	echo aou $STATE>>/tmp/bla
		;;
	    2)
		db_get citadel/WebcitApacheIntegration
		if test "$RET" = "Internal"; then
		    db_input high citadel/WebcitHttpPort || true
		else
		    db_set citadel/WebcitHttpPort 8504 || true
		fi
		;;
	    3)		     
		db_get citadel/WebcitApacheIntegration || true
		if test "$RET" = "Internal"; then
		    db_input high citadel/WebcitHttpsPort || true
		    export WEBCIT_LISTEN_IP=0.0.0.0
		else
		    db_set citadel/WebcitHttpsPort -1
		    export WEBCIT_LISTEN_IP=127.0.0.1
		fi
		;;
	    4)
		db_input high citadel/WebcitInstallnote||true
		;;
	esac
	if db_go; then
	    STATE=$(($STATE + 1))
	else
	    STATE=$(($STATE - 1))
	fi
	
    done
    db_go
    db_get citadel/WebcitHttpPort && WEBCIT_HTTP_PORT="$RET"
    db_get citadel/WebcitHttpsPort && WEBCIT_HTTPS_PORT="$RET"
    db_get citadel/WebcitBindIp && WEBCIT_LISTEN_IP="$RET"
    
    db_get ciatdel/WebcitWebserver &&WWWTYPE="$RET"
    if test "$WWWTYPE" = "Internal"; then
	WEBCIT_APACHEFLAG=" "
    else
	WEBCIT_APACHEFLAG="-f"
    fi

    set |grep WEBCIT |sed "s;^;export ;;" >/etc/default/webcit
fi



exit 0
