Source: webcit
Section: web
Priority: extra
Maintainer: Wilfried Goesgens <w.goesgens@outgesourced.org>
Build-Depends: debhelper (>= 4), po-debconf, libical-dev (>=0.43), gettext, locales,
 libcitadel-dev (> 8.13), quilt (>= 0.40), autotools-dev, libssl-dev, libmarkdown2-dev
Standards-Version: 3.8.0

Package: citadel-webcit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, tinymce, citadel-common, openssl, locales, libjs-prototype, libjs-scriptaculous
Suggests: citadel-server, apache2 | apache, localepurge, gnome-icon-theme
Recommends: shared-mime-info
Description: web-based frontend to Citadel groupware server
 WebCit is a web-based, AJAX-enabled frontend to the Citadel groupware system.
 It is an attractive web middleware layer that allows user-friendly access.
 By combining WebCit and Citadel, you can have a versatile online environment
 with many users concurrently accessing the same system using the user
 interface of their choice (text, web, or downloaded client software).

