#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

upstreamversion := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)-.\+/\1/p')

DESTDIR=$(CURDIR)/debian/citadel-webcit

EXTRA_ARGS=
PROFILE_ARGS=
COMPILER=
CFLAGS= 
#to enable debugging: export DEB_BUILD_OPTIONS="debug profiling compression urldebug iodbg clang"

ifneq (,$(findstring clang,$(DEB_BUILD_OPTIONS)))
	COMPILER="clang" 
endif
ifneq (,$(findstring profiling,$(DEB_BUILD_OPTIONS)))
	PROFILE_ARGS= --with-gprof
	LDFLAGS += -pg 
endif
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -ggdb -rdynamic -MD -MP -D TECH_PREVIEW -pedantic -Wformat-nonliteral -Wmaybe-uninitialized -Wunused-variable
	EXTRA_ARGS =  --with-backtrace
else
	CFLAGS += -O2
endif
ifneq (,$(findstring urldebug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -D DEBUG_URLSTRINGS
endif

ifneq (,$(findstring iodbg,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -D SERV_TRACE
endif


configure: patch configure-stamp
configure-stamp:
	dh_testdir
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	export CC=$(COMPILER); export CFLAGS=" -Wformat -Werror=format-security $(CFLAGS)"; ./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr/sbin/ \
		--with-wwwdir=/usr/share/citadel-webcit \
		--with-localedir=/usr/share/ \
		--with-editordir=/usr/share/tinymce/www/ \
		--with-rundir=/var/run/citadel \
                --with-ssldir=/etc/ssl/webcit/ \
		--with-ssl \
		--with-datadir=/var/run/citadel \
		--enable-debug $(EXTRA_ARGS) $(PROFILE_ARGS)

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir

# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean: configure-stamp
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) clean
	debconf-updatepo

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(MAKE) install-bin install-locale install-wwwdata DESTDIR=$(DESTDIR)
	chmod a-x -R $(DESTDIR)/usr/share/citadel-webcit/static/*
	find $(DESTDIR)/usr/share/locale/ -name webcit.mo -exec chmod a-x {} \;
	rm $(DESTDIR)/usr/share/citadel-webcit/static/prototype.js
#	mkdir -p $(DESTDIR)/etc/citadel; cp webcit.conf $(DESTDIR)/etc/citadel/



# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installdebconf	
	dh_installinit --name=webcit
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
