citadel-client.debhelper.log
citadel-client.substvars
citadel-client/
citadel-common.debhelper.log
citadel-common.substvars
citadel-common/
citadel-dbg.debhelper.log
citadel-dbg.substvars
citadel-dbg/
citadel-doc.debhelper.log
citadel-doc.substvars
citadel-doc/
citadel-mta.debhelper.log
citadel-mta.substvars
citadel-mta/
citadel-server.debhelper.log
citadel-server.postinst.debhelper
citadel-server.postrm.debhelper
citadel-server.prerm.debhelper
citadel-server.substvars
citadel-server/
citadel-suite.debhelper.log
citadel-suite.substvars
citadel-suite/
files
tmp/
