#!/bin/sh

set -e

# source debconf stuff
. /usr/share/debconf/confmodule
db_version 2.0

if test -n "$2"; then
    if test "`echo $2 | sed -e 's/[.-]//g'`" -lt 127 \
        -o $1 = reconfigure
    then
        db_input high citadel/ServerIPAddress
        db_input high citadel/Administrator
        db_input high citadel/LoginType
        db_input high citadel/Installnote
        db_go
    fi
fi

exit 0
