#!/bin/sh
set -e

# source debconf stuff
. /usr/share/debconf/confmodule
db_version 2.0

if test -n "$2"; then
    if test "`echo $2 | sed -e 's/[.-]//g'`" -lt 127 \
        -o $1 = reconfigure
    then
        db_input high citadel/ServerIPAddress || true
        db_input high citadel/Administrator || true
        db_input high citadel/LoginType || true
        db_go
    fi
else 
    if test "$1" = "configure"; then
        db_input high citadel/ServerIPAddress || true
        db_input high citadel/Administrator || true
        db_input high citadel/LoginType || true
        db_input high citadel/Installnote || true
        db_go
    fi
fi

exit 0
