#!/bin/sh
set -e

# source debconf stuff
. /usr/share/debconf/confmodule
db_version 2.0

db_capb backup 

DO_CONFIGURE=no

if test -n "$2"; then
# do we want to reconfigure?
    if test "`echo $2 | sed -e 's/[.-]//g' -e 's;ubuntu;;'`" -lt 127 \
	-o "$1" = reconfigure
	then
	DO_CONFIGURE=yes
    fi
else 
# are we in first install?
    if test "$1" = "configure"; then
	DO_CONFIGURE=yes
    fi
fi


if test "$DO_CONFIGURE" = "yes"; then
    STATE=1
    LASTSTATE=4
    while [ "$STATE" != 0 -a "$STATE" -le "$LASTSTATE" ]; do

	case "$STATE" in
	    1)
		db_input high citadel/ServerIPAddress || true
		;;
	    2)
		db_input high citadel/Administrator || true
		;;
	    3)
		db_input high citadel/LoginType || true
		;;


	esac
	if db_go; then
	    STATE=$(($STATE + 1))
	else
	    STATE=$(($STATE - 1))
	fi
	
    done


    if test "$1" = "configure"; then
        db_input high citadel/Installnote || true
    fi
fi

exit 0
