Source: citadel
Section: mail
Priority: extra
Maintainer: Wilfried Goesgens <w.goesgens@outgesourced.org>
Build-Depends: debhelper (>= 4), po-debconf, bison, autotools-dev,
 libdb4.4-dev | libdb4.3-dev, libical-dev, libldap2-dev, libncurses5-dev,
 libpam0g-dev, libsieve2-dev, libssl-dev
Standards-Version: 3.7.2

Package: citadel-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, citadel-common, openssl
Recommends: db4.4-util | db4.3-util
Suggests: postfix | exim | citadel-mta | mail-transport-agent
Conflicts: pop3-server, imap-server
Provides: pop3-server, imap-server
Description: complete and feature-rich groupware server
 Citadel is a complete and feature-rich open source groupware platform.
  * Email, calendaring/scheduling, address books
  * Bulletin boards, mailing list server, instant messaging
  * Multiple domain support
  * An intuitive, attractive AJAX-style web interface
 .
 The key to Citadel's versatility is its unique architecture. A Citadel system
 is made up of containers called "rooms." A room may be used as an email
 folder, a discussion forum, a real-time chat, a mailing list, a calendar,
 an address book, an RSS sink ... sometimes a combination of any of the above,
 and certainly any other uses which could be added in the future. Furthermore,
 you can replicate rooms between multiple Citadel nodes, allowing you to set up
 a federated, distributed messaging environment.
 . 
 With that in mind, Citadel excels at applications such as:
  * E-mail and groupware (shared calendaring, etc.)
  * Bulletin Board System (BBS)
  * Online discussion forums / chat rooms
 .
 The Citadel system is extremely versatile. It provides numerous front ends to
 present to users, such as a text-based interface, an AJAX-style web interface,
 and many popular PIM clients using SMTP/POP/IMAP. All of these can be used
 simultaneously.
 .
 It's also extremely scalable. Not only can a well-equipped Citadel server
 support a large number of concurrent users, but you can also build
 a distributed network of Citadel nodes that share rooms and their content.
 .
 Features:
  * Email, calendaring, address books, bulletin boards, instant messaging, and
    more ... all in one tightly integrated server package. Unlike other
    open source groupware systems, all of Citadel's data stores are built-in.
    "Integrate-it-yourself" is a thing of the past.
  * High-performance, multiprotocol, multithreaded server engine
  * Web browser, telnet/SSH, local client software accessible
  * Standards-compliant e-mail built in: IMAP, POP3, ESMTP
  * Group calendaring and scheduling (GroupDAV, Aethera, and Kolab-1
    compatible)
  * Built-in listserv (mailing list server)
  * Database-driven, single-instance message store
  * Authenticated SMTP (no more tedious mucking about with POP-before-SMTP
    hacks)
  * Multiple domain support
  * Built-in integration with perimiter email filtering technologies such as
    Realtime Blackhole Lists (RBL's) and SpamAssassin 
  * Very strong replication features. Users in any number of domains can be
    spread out across any number of Citadel servers, allowing you to put data
    where you need it, and enabling infinite horizontal scalability.
  * Web-based access to email, calendars, and everything else through
    a powerful AJAX-style front end
  * Very strong support for "public folders" and message forums.
  * Built-in instant messenger service
  * SSL/TLS encryption for all protocols
  * LDAP integration capabilities. Citadel can populate your existing directory
    server, or it can configure a standalone directory server if you don't
    already have one.
 .
  Homepage: http://www.citadel.org

Package: citadel-suite
Architecture: all
Depends: citadel-common, citadel-server, citadel-mta, citadel-webcit, citadel-client
Description: complete and feature-rich groupware server; meta package to give you the full install.
 Citadel is a complete and feature-rich open source groupware platform.
  * Email, calendaring/scheduling, address books
  * Bulletin boards, mailing list server, instant messaging
  * Multiple domain support
  * An intuitive, attractive AJAX-style web interface
 .
 The key to Citadel's versatility is its unique architecture. A Citadel system
 is made up of containers called "rooms." A room may be used as an email
 folder, a discussion forum, a real-time chat, a mailing list, a calendar,
 an address book, an RSS sink ... sometimes a combination of any of the above,
 and certainly any other uses which could be added in the future. Furthermore,
 you can replicate rooms between multiple Citadel nodes, allowing you to set up
 a federated, distributed messaging environment.
 . 
 With that in mind, Citadel excels at applications such as:
  * E-mail and groupware (shared calendaring, etc.)
  * Bulletin Board System (BBS)
  * Online discussion forums / chat rooms
 .
 The Citadel system is extremely versatile. It provides numerous front ends to
 present to users, such as a text-based interface, an AJAX-style web interface,
 and many popular PIM clients using SMTP/POP/IMAP. All of these can be used
 simultaneously.
 .
 It's also extremely scalable. Not only can a well-equipped Citadel server
 support a large number of concurrent users, but you can also build
 a distributed network of Citadel nodes that share rooms and their content.
 .
 Features:
  * Email, calendaring, address books, bulletin boards, instant messaging, and
    more ... all in one tightly integrated server package. Unlike other
    open source groupware systems, all of Citadel's data stores are built-in.
    "Integrate-it-yourself" is a thing of the past.
  * High-performance, multiprotocol, multithreaded server engine
  * Web browser, telnet/SSH, local client software accessible
  * Standards-compliant e-mail built in: IMAP, POP3, ESMTP
  * Group calendaring and scheduling (GroupDAV, Aethera, and Kolab-1
    compatible)
  * Built-in listserv (mailing list server)
  * Database-driven, single-instance message store
  * Authenticated SMTP (no more tedious mucking about with POP-before-SMTP
    hacks)
  * Multiple domain support
  * Built-in integration with perimiter email filtering technologies such as
    Realtime Blackhole Lists (RBL's) and SpamAssassin 
  * Very strong replication features. Users in any number of domains can be
    spread out across any number of Citadel servers, allowing you to put data
    where you need it, and enabling infinite horizontal scalability.
  * Web-based access to email, calendars, and everything else through
    a powerful AJAX-style front end
  * Very strong support for "public folders" and message forums.
  * Built-in instant messenger service
  * SSL/TLS encryption for all protocols
  * LDAP integration capabilities. Citadel can populate your existing directory
    server, or it can configure a standalone directory server if you don't
    already have one.
 .
  Homepage: http://www.citadel.org

Package: citadel-common
Architecture: all
Description: complete and feature-rich groupware server
 Citadel is a complete and feature-rich open source groupware platform.
  * Email, calendaring/scheduling, address books
  * Bulletin boards, mailing list server, instant messaging
  * Multiple domain support
  * An intuitive, attractive AJAX-style web interface
 .
 This package contains the common files.
 .
  Homepage: http://www.citadel.org

Package: citadel-mta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, citadel-server (= ${Source-Version}), citadel-common
Conflicts: mail-transport-agent
Provides: mail-transport-agent
Replaces: mail-transport-agent
Description: complete and feature-rich groupware server (mail transport agent)
 This package contains the mail transport agent component for Citadel,
 a complete and feature-rich open source groupware platform.
 .
 See the 'citadel-server' package for more informations.
 .
  Homepage: http://www.citadel.org

Package: citadel-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, citadel-common
Description: complete and feature-rich groupware server (command line client)
 This is package contains the command line client for Citadel, a complete and
 feature-rich open source groupware platform.
 .
 See the 'citadel-server' package for more informations.
 .
   Homepage: http://www.citadel.org

Package: citadel-doc
Section: doc
Architecture: all
Description: complete and feature-rich groupware server (documentation)
 This package contains documentation for Citadel, a complete and feature-rich
 open source groupware platform.
 .
 See the 'citadel-server' package for more informations.
 .
  Homepage: http://www.citadel.org
