#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

DEB_DESTDIR = $(CURDIR)/debian/tmp

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -ggdb
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir

	CFLAGS="$(CFLAGS)" ./configure \
		--with-datadir=/var/lib/citadel \
		--with-spooldir=/var/spool/citadel \
		--with-sysconfdir=/etc/citadel \
		--with-rundir=/var/run/citadel \
		--with-docdir=/usr/share/doc/citadel-doc/ \
		--with-pam \
		--with-db \
		--with-zlib \
		--with-ldap \
		--with-libical \
		--with-libsieve

	touch configure-stamp

#Architecture 
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp

	$(MAKE)
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

	-$(MAKE) distclean

	dh_clean 

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i

	$(MAKE) DESTDIR=$(DEB_DESTDIR) install-doc-new

	dh_install -i --sourcedir=debian/tmp

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	$(MAKE) DESTDIR=$(DEB_DESTDIR) \
		install-exec-new \
		install-data-new \
		install-doc-new

	mkdir -p $(DEB_DESTDIR)/usr/lib/citadel-server
	mv $(DEB_DESTDIR)/usr/sbin/setup \
		$(DEB_DESTDIR)/usr/lib/citadel-server/

	mkdir -p $(DEB_DESTDIR)/usr/share/doc/citadel-server/
	mv $(DEB_DESTDIR)/usr/share/doc/citadel-doc/database_cleanup.sh \
		$(DEB_DESTDIR)/usr/share/doc/citadel-server/
	mv $(DEB_DESTDIR)/usr/share/doc/citadel-doc/docs/welcomemail.txt \
		$(DEB_DESTDIR)/usr/share/doc/citadel-doc/docs/welcomemail.html \
		$(DEB_DESTDIR)/usr/share/doc/citadel-server/

	dh_install -s --sourcedir=debian/tmp

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installdebconf	
	dh_installinit --name=citadel
	dh_installman
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
